.u-flex {
    display: flex !important;
}

.u-flex-none {
    flex: none !important;
}

.u-flex-wrap {
    flex-wrap: wrap !important;
}

.u-justify-between {
    justify-content: space-between !important;
}

.u-align-center {
    align-items: center !important;
}

.u-align-baseline {
    align-items: baseline !important;
}

.u-self-center {
    align-self: center !important;
}