.u-flex {
    display: flex !important;
}

.u-flex-none {
    flex: none !important;
}

.u-align-center {
    align-items: center !important;
}

.u-align-baseline {
    align-items: baseline !important;
}

.u-self-center {
    align-self: center !important;
}