.u-list-disc {
    list-style-type: disc !important;
}

.u-relative {
    position: relative !important;
}

.u-color-primary {
    color: var(--color-primary) !important;
}

.u-fit-content {
    width: fit-content !important;
}