.u-flex-none {
    flex: none !important;
}

.u-list-circle {
    list-style-type: circle !important;
}

.u-relative {
    position: relative !important;
}

.u-color-primary {
    color: var(--color-primary) !important;
}