@for $i from 1 through 10 {
    .u-mt-#{$i} {
        margin-top: var(--space-#{$i}) !important;
    }

    .-u-mt-#{$i} {
        margin-top: calc(-1 * var(--space-#{$i})) !important;
    }

    .u-pt-#{$i} {
        padding-top: var(--space-#{$i}) !important;
    }
    
    .u-pr-#{$i} {
        padding-right: var(--space-#{$i}) !important;
    }

    .u-pb-#{$i} {
        padding-bottom: var(--space-#{$i}) !important;
    }

    .u-pl-#{$i} {
        padding-left: var(--space-#{$i}) !important;
    }
}

.u-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
