.u-font-base {
    font-size: var(--font-base) !important;
}

.u-font-md {
    font-size: var(--font-md) !important;
}

.u-font-lg {
    font-size: var(--font-lg) !important;
}

.u-font-xl {
    font-size: var(--font-xl) !important;
}