.u-font-base {
    font-size: var(--font-base) !important;
}

.u-font-md {
    font-size: var(--font-md) !important;
}

.u-font-lg {
    font-size: var(--font-lg) !important;
}

.u-font-xl {
    font-size: var(--font-xl) !important;
}

.u-font-xxl {
    font-size: var(--font-xxl) !important;
}

.u-font-xxxl {
    font-size: var(--font-xxxl) !important;
}

.u-font-regular {
    font-weight: 400 !important;
}

.u-font-medium {
    font-weight: 500 !important;
}

.u-font-semi-bold {
    font-weight: 600 !important;
}

.u-font-bold {
    font-weight: 700 !important;
}