{
    "presets": ["next/babel"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["html", "css"],
                "theme": "tomorrow",
                "plugins": ["normalize-whitespace"],
                "css": true
            }
        ]
    ]
}