.c-snippet-card {
    display: flex;
    flex-direction: column-reverse;

    border-radius: 0.5rem;
    border: 2px solid var(--color-gray-light);

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-color: var(--color-gray-light);
        border-radius: 0 0 0.25rem 0.25rem;
        padding: 1rem;
    }

    &__snippet {
        position: relative;
        height: 300px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 1rem;
        padding-top: 0.75rem;
        background-color: var(--color-primary-lighter);

        overflow-y: auto;
        
        @supports(backdrop-filter: blur(8px)) {
            background-color: var(--color-primary-lighter-opaque);
            backdrop-filter: blur(8px);
        }
    }

    &__topic {
        letter-spacing: 2px;
    }
}

.l-snippet-card__topic-list {
    list-style-type: disc;
    margin-top: 1.5rem;
    padding-left: 1rem;
    
    & > * + * {
        margin-top: 1rem;
    }
}

.l-snippet-card__toggles {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    display: flex;
    align-items: center;

    & > * + * {
        margin-left: 0.75rem;
    }
}