:root {
    --color-primary: rgb(37, 99, 235);
    --color-primary-light: rgb(147, 197, 253);
    --color-primary-lighter: rgb(191, 219, 254);
    --color-primary-lighter-opaque: rgba(191, 219, 254, 0.8);
    --color-primary-lightest: rgb(219, 234, 254);
    --color-bg: #F9FAFB;
    --color-gray-light: #F3F4F6;
    --color-gray-light-opaque: rgba(243, 244, 246, 0.8);
    --color-gray: #D1D5DB;
    --color-white: #FFFFFF;
    --color-white-opaque: rgba(255, 255, 255, 0.5);
}