.l-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}

@for $i from 1 through 10 {
    .l-stack-block-#{$i} {
        & > * + * {
            margin-top: var(--space-#{$i});
        }
    }

    .l-stack-inline-#{$i} {
        display: flex;

        & > * + * {
            margin-left: var(--space-#{$i});
        }
    }
}

.l-equal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width, ), 1fr));

    gap: var(--grid-gap, 2rem);
}

.l-full-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}